#header{
	height: 100px;
	background-color: white;
	font-family: aerial sans-serif;
	font-size: 13px;
	color: black
	
}

#menu{
	position: absolute;
	right: 20px;

}

.menu-item{
	display: inline-block;
	padding: 15px 5px;

}

#google-logo{
	text-align: center;
}

#search-wrapper{
	margin-bottom: 20px;
	text-align: center;


}

#search-wrapper input{
	width: 600px;
	height: 30px;
	text-align: center;
}
#button-holder{
	text-align: center;
}

#footer{
	/* make sure it's the width of the body */
	height: 40px;
	width: 100%;
	background-color: #f2f2f2;
	/* Give the element absolute positioning so we can put it on the bottom */
	position: absolute;
	/* set bottom to 0 */
	bottom: 0;
	font-family: aerial sans-serif;
	font-size: 13px;
	color: #f2f2f2;
	border-top: solid #f2f2f2 1px;
}

#left-footer{
	position: absolute;
	left: 0;
	color: black;

}

#right-footer{
	position: absolute;
	right: 20px;
	color: black;
}

#account-pic{
	border-radius: 50%;
}





